asgiref==3.11.1
astroid==4.0.4
bcrypt==4.0.1
certifi==2026.2.25
charset-normalizer==3.4.7
cloudinary==1.44.1
dataclasses==0.6
dill==0.4.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
idna==3.11
isort==8.0.1
joblib==1.5.3
mccabe==0.7.0
mongoengine==0.29.3
narwhals==2.22.1
numpy==2.4.6
pandas==3.0.3
pillow==12.2.0
platformdirs==4.9.4
psycopg2-binary==2.9.11
PyJWT==2.12.1
pylint==4.0.5
pymongo==4.16.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
stripe==15.0.1
threadpoolctl==3.6.0
tomlkit==0.14.0
typing_extensions==4.15.0
urllib3==2.6.3
